name: "Tag and build"
on:
  push:
    tags: ["*"]
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - uses: pre-commit/action@v3.0.1
  build:
    permissions:
      id-token: write
      contents: write
    name: "Build & Push wheel"
    needs:
      - pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - uses: arduino/setup-task@v1
      - run: task setup-ci
      - run: task build
      - name: "Release to pypi"
        uses: pypa/gh-action-pypi-publish@release/v1
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
          files: |
            dist/*
            LICENSE

  docker-build:
    name: "Build docker image"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    needs:
      - pre-commit
    env:
      IMAGE_NAME: ${{ github.repository }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{env.IMAGE_NAME}}
          flavor: |
            latest=auto
            prefix=
            suffix=
          tags: |
            type=raw,value=${{github.ref_name}}
            type=raw,value=latest

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          file: containers/Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
