name: "Nix"
on:
  push:
    branches:
      - main
jobs:
  nix:
    permissions:
      id-token: write
      contents: write
    name: "Update nix package and cache"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v25
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: DeterminateSystems/magic-nix-cache-action@v6
      - uses: cachix/cachix-action@v14
        with:
          name: pdh
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - run: nix build --json | jq -r '.[].outputs | to_entries[].value' | cachix push pdh
      - run: nix flake archive --json | jq --raw-output '.path, (.inputs | to_entries [] .value.path)' | cachix push pdh
